@{
    Layout = "~/Views/Shared/_MasterLayout3.cshtml";
}
<section id="banner"></section>
<section id="prodCat">
    <table>
        <tr>
            <td rowspan="2"></td>
        </tr>
    </table>
</section>
<section id="lastedProd"></section>
<section id="Pro"></section>

